body {
    background-color: brown;
}
#container {
    height: 150px;
    width: 150px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3 , 50px);
}